@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {  margin: 0; padding: 0; border: 0;}

body{
    background-color: #3D4143;
    overflow: hidden;
    color: #cccccc;
    //font-family: Consolas, 'ConsolasRegular', 'Courier New', monospace;
    font-family: 'proxima_nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

p {
    margin: 1em 0;
    text-align: justify;
}

em {
    font-weight: bold;
}

a, a:hover, a:focus, a:active {
    color: #339;
    outline: 0;
    text-decoration: none;
}



code,
.code {
    font-family: monospace;
    background-color: #339;
}

/* Header */

h1 {
    position: absolute;    
    top: 20px;
    left: 20px;
    font-size: 3em;    
}

h2 {
    position: absolute;
    top: 70px;
    left: 20px;
    color: #33f;
    font-size: 1.5em;    
    font-style: italic;    
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #999;
    color: #111;
    opacity: .7;
    font-size: 16px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: .5em 0;    
}

/* Controls */

#controls {
    position: absolute;
    left: 0;
    top: 80px;
    width: 300px;
    margin-left: 20px;
}

#choose-zipcode, #choose-period {
    width: 100%;
}

.choose-header {
    font-size: 2em;
    border-bottom: 1px solid #666;
    margin: 1em 0;
}

#choose-period {
    position: absolute;
    left: -400px;
    transition: left 1s ease-in-out 0s;
}

#choose-period.show {
    left: 0;
}

#choose-period input {
    font-family: monospace;
}

/* Info */

#info {
    position: absolute;
    left: 0;
    top: 280px;
    color: #333;
    opacity: 0;
    text-align: center;
    transition: opacity 1s ease-in-out 0s;
}

#info.activated {
    opacity: 0.7;
}

#info input {
    font-family: "icomoon" !important;
    font-size: 2em;
    margin: 0 auto;
}

.arrow_box {
    position: relative;
    top: 15px;
    background: #eee;
    border: 3px solid #333;
    border-radius: 10px;
    padding: 1em;
    display: inline-block;    
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:after {
    border-color: rgba(83, 112, 130, 0);
    border-bottom-color: #eee;
    border-width: 15px;
    margin-left: -15px;
}
.arrow_box:before {
    border-color: rgba(32, 37, 41, 0);
    border-bottom-color: #333;
    border-width: 21px;
    margin-left: -21px;
}

#legend {
    list-style: none;
}

#legend li {
    display: block;
    float: left;
    width: 50%;
    text-align: left;
    line-height: 11px;
    margin: 2px 0;
}

#legend li span.color {
    display: block;
    width: 8px;
    height: 8px;
    float: left;
    margin-right: 5px;
}

.mx_barsandrestaurants { background-color: #81c16a }
.mx_services { background-color: #67b0b6}
.mx_food { background-color: #d66f6c }
.mx_office { background-color: #c0a0e0 }
.mx_car { background-color: #fa842c }
.mx_auto { background-color:#fb2d22 }
.mx_travel { background-color: #ebef4e }
.mx_sport {  background-color: #2c66a4 }
.mx_beauty { background-color: #ecc82c }
.mx_health { background-color: #fffeef }
.mx_fashion { background-color: #ff00ff }


/* Buttons */

#start-button,
#pause-button {
    font-variant: small-caps;
    border: 3px solid #333;
    border-radius: 8px;
    background-color: #eee;
    margin: 5px;
    padding: 1px;
    font-size: 20px;
    vertical-align: middle;
}

#start-button span,
#pause-button span {
    font-size: 30px;
}

#start-button {
    display: block;
}

#pause-button {
    display: none;
}

input[type=button] {
    border: 3px solid #666;
    border-radius: 8px;    
    margin: 5px;
    padding: 1px;
    transition: padding 1s ease-in-out 0s;
}

input[type=button].activated,
#pause-button {
    border: 3px solid #009;
    background-color: #339;
    color: #eee;
}

/* Icons */

.icon-map:before {
    font-family: "icomoon" !important;
    content: "\e601";
}
.icon-calendar:before {
    font-family: "icomoon" !important;
    content: "\e603";
}
.icon-stats:before {
    font-family: "icomoon" !important;
    content: "\e605";
}
.icon-magnet:before {
    font-family: "icomoon" !important;
    content: "\e606";
}
.icon-github:before {
    font-family: "icomoon" !important;
    content: "\e607";
}
.icon-target:before {
    font-family: "icomoon" !important;
    content: "\e608";
}
.icon-play:before {
    font-family: "icomoon" !important;
    content: "\e60a";
}
.icon-remove:before {
    font-family: "icomoon" !important;
    content: "\e60b";
}
.icon-add:before {
    font-family: "icomoon" !important;
    content: "\e60e";
}
.icon-pause:before {
    font-family: "icomoon" !important;
    content: "\e60f";
}
.icon-checkbox-checked:before {
    font-family: "icomoon" !important;
    color: #339;
    content: "\e610";
}
.icon-checkbox-unchecked:before {
    font-family: "icomoon" !important;
    content: "\e611";
}

/* Tools */

#tools {
    position: absolute;
    z-index: 100;
    right: -100px;
    top: 0px;
    width: 100px;
    height: 100%;
    background-color: #222;
    text-align: center;
    transition: right 1s ease-in-out 0s;
}

#tools.shown {
    right: 0px;
}

#tools ul {
    list-style: none;
}

#tools li {
    width: 100px;
    height: 100px;
    margin: 3em 0;
}

#tools a {
    display: block;
    height: 100px;
    color: #666;
    text-decoration: none;
    transition: color .3s ease-in-out 0s;
}

#tools a:hover {
    color: #ddd;
}

#tools .icon {
    font-size: 4em;
}

#tools .tool-text {
    font-size: 1.2em;
}

#tools .activated {
    color: #E7B513;
}

#tools .github {
    position: absolute;
    bottom: 0;
}

/* Inspector Info */

#inspectorInfo,
#filtersInfo {
    opacity: 0.8;
}

#inspectorInfo {   
    position: absolute;
    z-index: 10;
    right: -300px;
    top: 0px;
    width: 250px;
    height: 100%;    
    background-color: #2a2a2a;
    transition: right .5s ease-in-out 0s;
}

#inspectorInfo.shown {
    right: 100px;
}

#inspectorInfo .subtoolbar-header {
    display: block;
    background-color: #333;
    font-size: 1.5em;
    font-variant: small-caps;
    text-align: center;    
    padding: 1em;
}

#inspectorInfo .content {
    padding: 1em;
    font-size: 1.4em;
}

#inspectorsInfo p,
#filtersInfo p {
    margin: 1em;
}

p.subtoolbar-info {
    margin: 1em;
    text-align: center;
}

dl {
    padding: 1em;
}

dt {
    font-weight: bold;
    margin-top: 1em;
}

/* Filters Info */

#filtersInfo {   
    position: absolute;
    z-index: 10;
    right: -300px;
    top: 0px;
    width: 250px;
    height: 100%;    
    background-color: #2a2a2a;
    transition: right .5s ease-in-out 0s;
    overflow: auto;
}

#filtersInfo.shown {
    right: 100px;
}

#filtersInfo .showMore {
    border: 1px solid;
    color: #999;
    display: block;
    margin: 0 auto;
    padding: 4px;
    text-align: center;
    width: 120px;
}

#filtersInfo .subtoolbar-header {
    display: block;
    background-color: #333;
    font-size: 1.5em;
    font-variant: small-caps;
    text-align: center;    
    padding: 1em;
}

#filtersInfo .content {
    padding: 1em;
    font-size: 1em;
}

#moreFilterInstructions {
    display: none;
}

#moreFilterInstructions.shown {
    display: block;
}

#newFilter {
    border: 2px dashed #999;
}

.filter {
    border: 2px solid;
    margin: 8px 0;
    width: 90%;               
    display: inline-block;    
}

.filter-header {
    background-color: #333;
    font-variant: small-caps;
    padding: .5em 1em;
}

.filter-contents {
    padding: 8px;    
}

.filter input,
.filter textarea {
    width: 100%;
    margin: 5px 0;
    padding: 2px;
}

.filter textarea {
    height: 80px;
}

.filter a {
    display: block;
    font-size: 18px;
    float: right;
    border: 1px solid;
    padding: 3px 6px;
    margin: 8px;
    color: #666;
    transition: color .3s ease-in-out 0s;    
}

.filter a:hover {
    color: #ddd;
}

.filter a.activated {
    color: #339;
}

/* Day info */

#dayInfo {
    position: absolute;
    width: 100%;
    bottom: 70px;
    font-size: 2.5em;
    text-align: center;
}
